name: aqua_smart
description: A smart water consumption monitoring and control system MVP.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.4.0
  fl_chart: ^0.65.0
  google_fonts: ^6.1.0
  sleek_circular_slider: ^2.0.1
  intl: ^0.19.0
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
